.icon-button {
  --button-font-size: 1em;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--xs);
  border-radius: 100em;
  cursor: pointer;
  font-size: calc(1em * var(--quarterstep));
  /* borrowed from heading */
  border: 1px solid transparent;
}

.icon-button.outlined {
  border: 1px solid;
  border-color: var(--hl-outlinevariant);
  background-color: transparent;
  transition: border-color 210ms ease-in;

  &:hover {
    border-color: var(--hl-outline);
  }
}

.icon-button.text {
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--hl-tertiary);
}

.icon-button.lowpad {
  padding: var(--3xs);
}

.icon-button.xs {
  font-size: calc(1em / var(--halfstep));
}

.icon-button.sm {
  font-size: 1em;
}

.icon-button.lg {
  font-size: calc(1em * var(--halfstep));
}

.icon-button.xl {
  font-size: calc(1em * var(--wholestep));
}
