:root {
  --light__primary_hlv: #00658c;
  --light__onprimary_hlv: #ffffff;
  --light__primarycontainer_hlv: #c5e7ff;
  --light__onprimarycontainer_hlv: #004c6a;
  --light__secondary_hlv: #82524b;
  --light__onsecondary_hlv: #ffffff;
  --light__secondarycontainer_hlv: #ffdad5;
  --light__onsecondarycontainer_hlv: #673b35;
  --light__tertiary_hlv: #256958;
  --light__ontertiary_hlv: #ffffff;
  --light__tertiarycontainer_hlv: #acf0da;
  --light__ontertiarycontainer_hlv: #005141;
  --light__error_hlv: #ba1a1a;
  --light__onerror_hlv: #ffffff;
  --light__errorcontainer_hlv: #ffdad6;
  --light__onerrorcontainer_hlv: #93000a;
  --light__background_hlv: #fff8f7;
  --light__onbackground_hlv: #24181a;
  --light__surface_hlv: #fff8f7;
  --light__onsurface_hlv: #24181a;
  --light__surfacevariant_hlv: #fbdbdd;
  --light__onsurfacevariant_hlv: #574143;
  --light__outline_hlv: #8b7173;
  --light__outlinevariant_hlv: #debfc1;
  --light__shadow_hlv: #000000;
  --light__scrim_hlv: #000000;
  --light__inversesurface_hlv: #3a2d2e;
  --light__inverseonsurface_hlv: #ffeced;
  --light__inverseprimary_hlv: #87cffa;
  --light__surfacecontainerlowest_hlv: #ffffff;
  --light__surfacecontainerlow_hlv: #fff0f0;
  --light__surfacecontainer_hlv: #ffe9ea;
  --light__surfacecontainerhigh_hlv: #f9e3e4;
  --light__surfacecontainerhighest_hlv: #f4ddde;
  --light__surfacedim_hlv: #ebd5d6;
  --light__surfacebright_hlv: #fff8f7;
  --light__primaryfixed_hlv: #c5e7ff;
  --light__primaryfixeddim_hlv: #87cffa;
  --light__onprimaryfixed_hlv: #001e2d;
  --light__onprimaryfixedvariant_hlv: #004c6a;
  --light__secondaryfixed_hlv: #ffdad5;
  --light__secondaryfixeddim_hlv: #f5b8af;
  --light__onsecondaryfixed_hlv: #33110d;
  --light__onsecondaryfixedvariant_hlv: #673b35;
  --light__tertiaryfixed_hlv: #acf0da;
  --light__tertiaryfixeddim_hlv: #91d4bf;
  --light__ontertiaryfixed_hlv: #002019;
  --light__ontertiaryfixedvariant_hlv: #005141;
  --light__warning_hlv: #795900;
  --light__onwarning_hlv: #ffffff;
  --light__warningcontainer_hlv: #ffdfa0;
  --light__onwarningcontainer_hlv: #261a00;
  --light__success_hlv: #006e21;
  --light__onsuccess_hlv: #ffffff;
  --light__successcontainer_hlv: #6fff7d;
  --light__onsuccesscontainer_hlv: #002105;
  --light__info_hlv: #1648f2;
  --light__oninfo_hlv: #ffffff;
  --light__infocontainer_hlv: #dee1ff;
  --light__oninfocontainer_hlv: #001258;
  --dark__primary_hlv: #87cffa;
  --dark__onprimary_hlv: #00344a;
  --dark__primarycontainer_hlv: #004c6a;
  --dark__onprimarycontainer_hlv: #c5e7ff;
  --dark__secondary_hlv: #f5b8af;
  --dark__onsecondary_hlv: #4c2520;
  --dark__secondarycontainer_hlv: #673b35;
  --dark__onsecondarycontainer_hlv: #ffdad5;
  --dark__tertiary_hlv: #91d4bf;
  --dark__ontertiary_hlv: #00382c;
  --dark__tertiarycontainer_hlv: #005141;
  --dark__ontertiarycontainer_hlv: #acf0da;
  --dark__error_hlv: #ffb4ab;
  --dark__onerror_hlv: #690005;
  --dark__errorcontainer_hlv: #93000a;
  --dark__onerrorcontainer_hlv: #ffdad6;
  --dark__background_hlv: #1b1012;
  --dark__onbackground_hlv: #f4ddde;
  --dark__surface_hlv: #1b1012;
  --dark__onsurface_hlv: #f4ddde;
  --dark__surfacevariant_hlv: #574143;
  --dark__onsurfacevariant_hlv: #debfc1;
  --dark__outline_hlv: #a68a8c;
  --dark__outlinevariant_hlv: #574143;
  --dark__shadow_hlv: #000000;
  --dark__scrim_hlv: #000000;
  --dark__inversesurface_hlv: #f4ddde;
  --dark__inverseonsurface_hlv: #3a2d2e;
  --dark__inverseprimary_hlv: #00658c;
  --dark__surfacecontainerlowest_hlv: #160b0c;
  --dark__surfacecontainerlow_hlv: #24181a;
  --dark__surfacecontainer_hlv: #291c1e;
  --dark__surfacecontainerhigh_hlv: #342728;
  --dark__surfacecontainerhighest_hlv: #3f3132;
  --dark__surfacedim_hlv: #1b1012;
  --dark__surfacebright_hlv: #443637;
  --dark__primaryfixed_hlv: #c5e7ff;
  --dark__primaryfixeddim_hlv: #87cffa;
  --dark__onprimaryfixed_hlv: #001e2d;
  --dark__onprimaryfixedvariant_hlv: #004c6a;
  --dark__secondaryfixed_hlv: #ffdad5;
  --dark__secondaryfixeddim_hlv: #f5b8af;
  --dark__onsecondaryfixed_hlv: #33110d;
  --dark__onsecondaryfixedvariant_hlv: #673b35;
  --dark__tertiaryfixed_hlv: #acf0da;
  --dark__tertiaryfixeddim_hlv: #91d4bf;
  --dark__ontertiaryfixed_hlv: #002019;
  --dark__ontertiaryfixedvariant_hlv: #005141;
  --dark__warning_hlv: #f9bd21;
  --dark__onwarning_hlv: #402d00;
  --dark__warningcontainer_hlv: #5c4300;
  --dark__onwarningcontainer_hlv: #ffdfa0;
  --dark__success_hlv: #50e164;
  --dark__onsuccess_hlv: #00390d;
  --dark__successcontainer_hlv: #005317;
  --dark__onsuccesscontainer_hlv: #6fff7d;
  --dark__info_hlv: #b9c3ff;
  --dark__oninfo_hlv: #00228b;
  --dark__infocontainer_hlv: #0033c2;
  --dark__oninfocontainer_hlv: #dee1ff;
}
:root {
  --main-hsl-0: hsl(245 91 25);
  --main-hsl-1: hsl(243 81 36);
  --main-hsl-2: hsl(306 68 34);
  --main-hsl-3: hsl(332 87 42);
  --main-hsl-4: hsl(344 100 50);
  --main-hsl-5: hsl(345 100 43);

  --main-hue-0: 245;
  --main-hue-1: 243;
  --main-hue-2: 306;
  --main-hue-3: 332;
  --main-hue-4: 344;
  --main-hue-5: 345;

  --main-hsl-val-0: 245 91 25;
  --main-hsl-val-1: 243 81 36;
  --main-hsl-val-2: 306 68 34;
  --main-hsl-val-3: 332 87 42;
  --main-hsl-val-4: 344 100 50;
  --main-hsl-val-5: 345 100 43;
  --bg-hue: 240;
  --bg-sl: 75 5;
  --font-color: 175 50 96;

  --ua-top-hue: 199;
  --ua-top-sl: 93 42;
  --ua-bottom-sl: 100 60;
  --yellow: 72;
  --green: 141;

  --primary-hue: 184;
  --accent-hue: 60;
  --info-hue: 240;
  --neon-hue: 310;

  --success-hue: 120;
  --warning-hue: 63;
  --danger-hue: 360;

  --primary-sl: 100 50;
  --accent-sl: 100 60;

  --primary: var(--primary-hue) var(--primary-sl);
  --accent: var(--accent-hue) var(--accent-sl);
  --bg: var(--bg-hue) var(--bg-sl);
  --neon: var(--neon-hue) var(--primary-sl);

  --info-primary: var(--info-hue) var(--primary-sl);
  --info-accent: var(--info-hue) var(--accent-sl);

  --translucency-image: url("https://images.unsplash.com/photo-1707494966495-a2cc8c1dac1f?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
