:root {
  font-family: "Rubik", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  line-height: 1.272;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  min-height: 100svh;
  max-width: 100%;
  width: 100%;

  color-scheme: dark;

  --main-hsl-0: hsl(245 91 25);
  --main-hsl-1: hsl(243 81 36);
  --main-hsl-2: hsl(306 68 34);
  --main-hsl-3: hsl(332 87 42);
  --main-hsl-4: hsl(344 100 50);
  --main-hsl-5: hsl(345 100 43);

  --main-hue-0: 245;
  --main-hue-1: 243;
  --main-hue-2: 306;
  --main-hue-3: 332;
  --main-hue-4: 344;
  --main-hue-5: 345;

  --main-hsl-val-0: 245 91 25;
  --main-hsl-val-1: 243 81 36;
  --main-hsl-val-2: 306 68 34;
  --main-hsl-val-3: 332 87 42;
  --main-hsl-val-4: 344 100 50;
  --main-hsl-val-5: 345 100 43;

  --translucency-image: url("https://images.unsplash.com/photo-1707494966495-a2cc8c1dac1f?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

  --bg-hue: 240;
  --bg-sl: 75 5;
  --font-color: 175 50 96;

  --ua-top-hue: 199;
  --ua-top-sl: 93 42;
  --ua-bottom-sl: 100 60;
  --yellow: 60;
  --green: 141;

  --primary-hue: 184;
  --accent-hue: 60;
  --info-hue: 240;
  --neon-hue: 310;

  --success-hue: 120;
  --warning-hue: 63;
  --danger-hue: 360;

  --primary-sl: 100 50;
  --accent-sl: 100 60;

  --primary: var(--primary-hue) var(--primary-sl);
  --accent: var(--accent-hue) var(--accent-sl);
  --bg: var(--bg-hue) var(--bg-sl);
  --neon: var(--neon-hue) var(--primary-sl);

  --info-primary: var(--info-hue) var(--primary-sl);
  --info-accent: var(--info-hue) var(--accent-sl);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100svh;
  width: 100%;
  max-width: 100svw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

div,
section,
main {
  position: relative;
  width: 100%;
  height: auto;
}
