body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100svh;
  width: 100%;
  max-width: 100svw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

div,
section,
main {
  position: relative;
  width: 100%;
  height: auto;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  margin: auto;
}

footer {
  position: relative;
  width: 100%;
  min-height: 3em;
  z-index: 10;
}
