/* DO NOT USE */
/* ONLY CHANGE */

:root {
  --light__primary_hlv: #e1e1e1;
  --light__onprimary_hlv: #080808;
  --light__primarycontainer_hlv: #ffffff;
  --light__onprimarycontainer_hlv: #6e6e6e;
  --light__secondary_hlv: #e1e1e1;
  --light__onsecondary_hlv: #080808;
  --light__secondarycontainer_hlv: #ffffff;
  --light__onsecondarycontainer_hlv: #6e6e6e;
  --light__tertiary_hlv: #ffd62e;
  --light__ontertiary_hlv: #080808;
  --light__tertiarycontainer_hlv: #fff9e1;
  --light__ontertiarycontainer_hlv: #483900;
  --light__error_hlv: #bb0e45;
  --light__onerror_hlv: #e1e1e1;
  --light__errorcontainer_hlv: #f686a9;
  --light__onerrorcontainer_hlv: #000000;
  --light__warning_hlv: #e6ac00;
  --light__onwarning_hlv: #e1e1e1;
  --light__warningcontainer_hlv: #ffe59a;
  --light__onwarningcontainer_hlv: #010000;
  --light__success_hlv: #00b33c;
  --light__onsuccess_hlv: #e1e1e1;
  --light__successcontainer_hlv: #66ff9a;
  --light__onsuccesscontainer_hlv: #000000;
  --light__info_hlv: #2e57ff;
  --light__oninfo_hlv: #080808;
  --light__infocontainer_hlv: #e1e6ff;
  --light__oninfocontainer_hlv: #000e48;
  --dark__primary_hlv: #ffffff;
  --dark__onprimary_hlv: #888888;
  --dark__primarycontainer_hlv: #a1a1a1;
  --dark__onprimarycontainer_hlv: #ffffff;
  --dark__secondary_hlv: #ffffff;
  --dark__onsecondary_hlv: #888888;
  --dark__secondarycontainer_hlv: #a1a1a1;
  --dark__onsecondarycontainer_hlv: #ffffff;
  --dark__tertiary_hlv: #ffefae;
  --dark__ontertiary_hlv: #7b6200;
  --dark__tertiarycontainer_hlv: #ae8b00;
  --dark__ontertiarycontainer_hlv: #fff9e1;
  --dark__error_hlv: #f25688;
  --dark__onerror_hlv: #150208;
  --dark__errorcontainer_hlv: #440519;
  --dark__onerrorcontainer_hlv: #f686a9;
  --dark__warning_hlv: #ffd966;
  --dark__onwarning_hlv: #342700;
  --dark__warningcontainer_hlv: #674d00;
  --dark__onwarningcontainer_hlv: #ffe59a;
  --dark__success_hlv: #33ff78;
  --dark__onsuccess_hlv: #000000;
  --dark__successcontainer_hlv: #003311;
  --dark__onsuccesscontainer_hlv: #66ff9a;
  --dark__info_hlv: #aebdff;
  --dark__oninfo_hlv: #00187b;
  --dark__infocontainer_hlv: #0022ae;
  --dark__oninfocontainer_hlv: #e1e6ff;
  --light__background_hlv: #e1e1e1;
  --light__onbackground_hlv: #1e1e1e;
  --light__surface_hlv: #3f3f3f;
  --light__onsurface_hlv: #989898;
  --light__surfacevariant_hlv: #fff;
  --light__onsurfacevariant_hlv: #080808;
  --light__outline_hlv: #989898;
  --light__outlinevariant_hlv: #6e6e6e;
  --light__shadow_hlv: #080808;
  --light__scrim_hlv: #080808;
  --light__inversesurface_hlv: #989898;
  --light__inverseonsurface_hlv: #3f3f3f;
  --light__inverseprimary_hlv: #ffffff;
  --dark__background_hlv: #080808;
  --dark__onbackground_hlv: #fff;
  --dark__surface_hlv: #1e1e1e;
  --dark__onsurface_hlv: #e1e1e1;
  --dark__surfacevariant_hlv: #080808;
  --dark__onsurfacevariant_hlv: #6e6e6e;
  --dark__outline_hlv: #e1e1e1;
  --dark__outlinevariant_hlv: #3f3f3f;
  --dark__shadow_hlv: #0000;
  --dark__scrim_hlv: #0000;
  --dark__inversesurface_hlv: #e1e1e1;
  --dark__inverseonsurface_hlv: #1e1e1e;
  --dark__inverseprimary_hlv: #ffffff;
  --light__primaryfixed_hlv: #ffffff;
  --light__primaryfixeddim_hlv: #ffffff;
  --light__onprimaryfixed_hlv: #6e6e6e;
  --light__onprimaryfixedvariant_hlv: #a1a1a1;
  --dark__primaryfixed_hlv: #ffffff;
  --dark__primaryfixeddim_hlv: #ffffff;
  --dark__onprimaryfixed_hlv: #6e6e6e;
  --dark__onprimaryfixedvariant_hlv: #a1a1a1;
  --light__secondaryfixed_hlv: #ffffff;
  --light__secondaryfixeddim_hlv: #ffffff;
  --light__onsecondaryfixed_hlv: #6e6e6e;
  --light__onsecondaryfixedvariant_hlv: #a1a1a1;
  --dark__secondaryfixed_hlv: #ffffff;
  --dark__secondaryfixeddim_hlv: #ffffff;
  --dark__onsecondaryfixed_hlv: #6e6e6e;
  --dark__onsecondaryfixedvariant_hlv: #a1a1a1;
  --light__tertiaryfixed_hlv: #fff9e1;
  --light__tertiaryfixeddim_hlv: #ffefae;
  --light__ontertiaryfixed_hlv: #483900;
  --light__ontertiaryfixedvariant_hlv: #ae8b00;
  --dark__tertiaryfixed_hlv: #fff9e1;
  --dark__tertiaryfixeddim_hlv: #ffefae;
  --dark__ontertiaryfixed_hlv: #483900;
  --dark__ontertiaryfixedvariant_hlv: #ae8b00;
}

/* DO NOT CHANGE */
/* ONLY USE */
:root {
  --hl-onprimary: var(--light__onprimary_hlv);
  --hl-primarycontainer: var(--light__primarycontainer_hlv);
  --hl-onprimarycontainer: var(--light__onprimarycontainer_hlv);
  --hl-secondary: var(--light__secondary_hlv);
  --hl-onsecondary: var(--light__onsecondary_hlv);
  --hl-secondarycontainer: var(--light__secondarycontainer_hlv);
  --hl-onsecondarycontainer: var(--light__onsecondarycontainer_hlv);
  --hl-tertiary: var(--light__tertiary_hlv);
  --hl-ontertiary: var(--light__ontertiary_hlv);
  --hl-tertiarycontainer: var(--light__tertiarycontainer_hlv);
  --hl-ontertiarycontainer: var(--light__ontertiarycontainer_hlv);
  --hl-onerror: var(--light__onerror_hlv);
  --hl-errorcontainer: var(--light__errorcontainer_hlv);
  --hl-onerrorcontainer: var(--light__onerrorcontainer_hlv);
  --hl-background: var(--light__background_hlv);
  --hl-onbackground: var(--light__onbackground_hlv);
  --hl-surface: var(--light__surface_hlv);
  --hl-onsurface: var(--light__onsurface_hlv);
  --hl-onsurfacevariant: var(--light__onsurfacevariant_hlv);
  --hl-surfacevariant: var(--light__surfacevariant_hlv);
  --hl-shadow: var(--light__shadow_hlv);
  --hl-inversesurface: var(--light__inversesurface_hlv);
  --hl-scrim: var(--light__scrim_hlv);
  --hl-inverseonsurface: var(--light__inverseonsurface_hlv);
  --hl-inverseprimary: var(--light__inverseprimary_hlv);
  --hl-success: var(--light__success_hlv);
  --hl-onsuccess: var(--light__onsuccess_hlv);
  --hl-successcontainer: var(--light__successcontainer_hlv);
  --hl-onsuccesscontainer: var(--light__onsuccesscontainer_hlv);
  --hl-warning: var(--light__warning_hlv);
  --hl-onwarning: var(--light__onwarning_hlv);
  --hl-warningcontainer: var(--light__warningcontainer_hlv);
  --hl-onwarningcontainer: var(--light__onwarningcontainer_hlv);
  --hl-info: var(--light__info_hlv);
  --hl-oninfo: var(--light__oninfo_hlv);
  --hl-infocontainer: var(--light__infocontainer_hlv);
  --hl-oninfocontainer: var(--light__oninfocontainer_hlv);
  --hl-primaryfixed: var(--light__primaryfixed_hlv);
  --hl-onprimaryfixed: var(--light__onprimaryfixed_hlv);
  --hl-primaryfixeddim: var(--light__primaryfixeddim_hlv);
  --hl-onprimaryfixedvariant: var(--light__onprimaryfixedvariant_hlv);
  --hl-secondaryfixed: var(--light__secondaryfixed_hlv);
  --hl-secondaryfixeddim: var(--light__secondaryfixeddim_hlv);
  --hl-onsecondaryfixed: var(--light__onsecondaryfixed_hlv);
  --hl-onsecondaryfixedvariant: var(--light__onsecondaryfixedvariant_hlv);
  --hl-tertiaryfixed: var(--light__tertiaryfixed_hlv);
  --hl-ontertiaryfixed: var(--light__ontertiaryfixed_hlv);
  --hl-tertiaryfixeddim: var(--light__tertiaryfixeddim_hlv);
  --hl-ontertiaryfixedvariant: var(--light__ontertiaryfixedvariant_hlv);
  --hl-surfacedim: var(--light__surfacedim_hlv);
  --hl-surfacebright: var(--light__surfacebright_hlv);
  --hl-surfacecontainerlowest: var(--light__surfacecontainerlowest_hlv);
  --hl-surfacecontainer: var(--light__surfacecontainer_hlv);
  --hl-surfacecontainerhigh: var(--light__surfacecontainerhigh_hlv);
  --hl-surfacecontainerhighest: var(--light__surfacecontainerhighest_hlv);
  --hl-surfacecontainerlow: var(--light__surfacecontainerlow_hlv);
  --hl-outlinevariant: var(--light__outlinevariant_hlv);
  --hl-outline: var(--light__outline_hlv);
  --hl-error: var(--light__error_hlv);
  --hl-primary: var(--light__primary_hlv);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --hl-onprimary: var(--dark__onprimary_hlv);
    --hl-primarycontainer: var(--dark__primarycontainer_hlv);
    --hl-onprimarycontainer: var(--dark__onprimarycontainer_hlv);
    --hl-secondary: var(--dark__secondary_hlv);
    --hl-onsecondary: var(--dark__onsecondary_hlv);
    --hl-secondarycontainer: var(--dark__secondarycontainer_hlv);
    --hl-onsecondarycontainer: var(--dark__onsecondarycontainer_hlv);
    --hl-tertiary: var(--dark__tertiary_hlv);
    --hl-ontertiary: var(--dark__ontertiary_hlv);
    --hl-tertiarycontainer: var(--dark__tertiarycontainer_hlv);
    --hl-ontertiarycontainer: var(--dark__ontertiarycontainer_hlv);
    --hl-onerror: var(--dark__onerror_hlv);
    --hl-errorcontainer: var(--dark__errorcontainer_hlv);
    --hl-onerrorcontainer: var(--dark__onerrorcontainer_hlv);
    --hl-background: var(--dark__background_hlv);
    --hl-onbackground: var(--dark__onbackground_hlv);
    --hl-surface: var(--dark__surface_hlv);
    --hl-onsurface: var(--dark__onsurface_hlv);
    --hl-onsurfacevariant: var(--dark__onsurfacevariant_hlv);
    --hl-surfacevariant: var(--dark__surfacevariant_hlv);
    --hl-shadow: var(--dark__shadow_hlv);
    --hl-inversesurface: var(--dark__inversesurface_hlv);
    --hl-scrim: var(--dark__scrim_hlv);
    --hl-inverseonsurface: var(--dark__inverseonsurface_hlv);
    --hl-inverseprimary: var(--dark__inverseprimary_hlv);
    --hl-success: var(--dark__success_hlv);
    --hl-onsuccess: var(--dark__onsuccess_hlv);
    --hl-successcontainer: var(--dark__successcontainer_hlv);
    --hl-onsuccesscontainer: var(--dark__onsuccesscontainer_hlv);
    --hl-warning: var(--dark__warning_hlv);
    --hl-onwarning: var(--dark__onwarning_hlv);
    --hl-warningcontainer: var(--dark__warningcontainer_hlv);
    --hl-onwarningcontainer: var(--dark__onwarningcontainer_hlv);
    --hl-info: var(--dark__info_hlv);
    --hl-oninfo: var(--dark__oninfo_hlv);
    --hl-infocontainer: var(--dark__infocontainer_hlv);
    --hl-oninfocontainer: var(--dark__oninfocontainer_hlv);
    --hl-primaryfixed: var(--dark__primaryfixed_hlv);
    --hl-onprimaryfixed: var(--dark__onprimaryfixed_hlv);
    --hl-primaryfixeddim: var(--dark__primaryfixeddim_hlv);
    --hl-onprimaryfixedvariant: var(--dark__onprimaryfixedvariant_hlv);
    --hl-secondaryfixed: var(--dark__secondaryfixed_hlv);
    --hl-secondaryfixeddim: var(--dark__secondaryfixeddim_hlv);
    --hl-onsecondaryfixed: var(--dark__onsecondaryfixed_hlv);
    --hl-onsecondaryfixedvariant: var(--dark__onsecondaryfixedvariant_hlv);
    --hl-tertiaryfixed: var(--dark__tertiaryfixed_hlv);
    --hl-ontertiaryfixed: var(--dark__ontertiaryfixed_hlv);
    --hl-tertiaryfixeddim: var(--dark__tertiaryfixeddim_hlv);
    --hl-ontertiaryfixedvariant: var(--dark__ontertiaryfixedvariant_hlv);
    --hl-surfacedim: var(--dark__surfacedim_hlv);
    --hl-surfacebright: var(--dark__surfacebright_hlv);
    --hl-surfacecontainerlowest: var(--dark__surfacecontainerlowest_hlv);
    --hl-surfacecontainer: var(--dark__surfacecontainer_hlv);
    --hl-surfacecontainerhigh: var(--dark__surfacecontainerhigh_hlv);
    --hl-surfacecontainerhighest: var(--dark__surfacecontainerhighest_hlv);
    --hl-surfacecontainerlow: var(--dark__surfacecontainerlow_hlv);
    --hl-outlinevariant: var(--dark__outlinevariant_hlv);
    --hl-outline: var(--dark__outline_hlv);
    --hl-error: var(--dark__error_hlv);
    --hl-primary: var(--dark__primary_hlv);
  }
}
