/*
* NOTE: Tailwind v4 Compatible Breakpoints:
*    sm: 40rem (640px),
*    md: 48rem (768px),
*    lg: 64rem (1024px),
*    xl: 80rem (1280px),
*    2xl: 96rem (1536px)
*/

@layer theme {
  @import "./vars.css";
  @import "./colors.css";
  @import "./theme.css";
  @import "./background-colors.css";
  @import "./view-transitions.css";
}
