body.baselayout {
  &::before {
    position: fixed;
    content: "";
    inset: 0;
    background-image: radial-gradient(transparent, #000000f0);
    z-index: -1;
  }
}

.viewport {
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -2rem;
    right: -2rem;
    content: "";
    background-image: radial-gradient(transparent, #000000f0);
    z-index: 0;
    pointer-events: none;
  }
}

#three-bg-container {
  filter: blur(0.66rem) saturate(130%) contrast(90%) brightness(18%);
}

@media (max-width: 65rem) {
  .viewport::after {
    position: fixed;
    inset: 0;
  }
}
