@import "remark-github-blockquote-alert/alert.css";
@import "./lib-hl/entry.css";
@import "./config/entry.css";

@import "./backgrounds.css";

:root {
  font-size: 16px;
  font-family: "FixelVariable", sans-serif;

  color-scheme: light dark;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-smooth: never; */

  text-wrap: balanced;
}
