@import "remark-github-blockquote-alert/alert.css";
@import "heavylift/styles";

@import "./config/entry.css";
@import "./backgrounds.css";

:root {
  font-size: 16px;
  font-family: "FixelVariable", sans-serif;

  color-scheme: light dark;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-smooth: never; */

  text-wrap: balanced;
}

.header {
  &::before {
    position: absolute;
    inset: 0;
    left: -1rem;
    right: -1rem;
    content: "";
    background-color: hsla(0 3 6 / 0.45);
    background-image: radial-gradient(transparent, #000000f0);
    backdrop-filter: blur(12px);
    border-radius: 1rem;
    z-index: 0;
  }
}
