---
import styles from "@styles/components/cards/ProjectCard.module.css";

export interface Props {
  projectName: string;
  projectLink: string;
}
const { projectName, projectLink } = Astro.props;
const NDAdata = {
  numberOfWebsites: 6,
};
---
<div class={`${styles["project-card"]} pc ${projectName.toLowerCase()}`}>
  {projectName !== "NDA" ? (
    <a href={projectLink} target="_blank" class="pc-link">{projectName}</a>
  ):(
    <p>{NDAdata.numberOfWebsites} websites under NDA</p>
  )}
</div>
