---
import { Icon } from "astro-icon/components";

import styles from "@styles/components/header/Header.module.css";
import Nav from "@components/nav/Nav.astro";
---
<header id="header" class={styles.header}>
  <div class={styles["left-section"]}>
    <Icon name="xnzf-logo"/>
  </div>
  <div class={styles["right-section"]}>
    <Nav/>
  </div>
</header>
