header.header {
  height: max-content;
  display: flex;
  width: max-content;
  margin: auto;
  border-radius: 1rem;
}

header.header .left-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  &::before {
    position: absolute;
    inset: 0;
    left: -1rem;
    right: -1rem;
    content: "";
    background-color: hsla(0 3 6 / 0.45);
    background-image: radial-gradient(transparent, #000000f0);
    backdrop-filter: blur(12px);
    border-radius: 1rem;
    z-index: 0;
  }
}

@media (min-width: 65rem) {
  header.header {
    width: 100%;
  }
}
