---
import { Image } from "astro:assets";

import MainLayout from "@layouts/MainLayout.astro";
import ProjectCard from "@components/cards/ProjectCard.astro";
import Contacts from "@components/Contacts.astro";
import PFP from "@public/pfp.png";
---
<MainLayout title="Oleksandr Marnov" description="Web Developer & Designer">
  <div class="main-hello">
    <div class="main-text">
      <section class="main-heading">
        <h1>Hi, I'm Xan</h1>
      </section>
      <section class="main-content">
        <p>My name is Oleksandr, but I go by Xanazf online. I'm a full stack web developer and designer living Kyiv, Ukraine.</p>
        <p>Currently, I work as a freelance web techie, which basically means I do everything web related. My main focus and interest lies in infrastructure design and color theory, with secondary interest in cloud technologies and web applications. I enjoy tackling complex problems and developing long-lasting solutions. If I were to summarize what I value the most about what I do, it's being able to build things and see them come alive.</p>
      </section>
    </div>
    <div class="main-image-contacts">
      <Image src={PFP} alt="main profile picture" width={300} height={300}/>
      <Contacts/>
    </div>
  </div>
  <div class="main-projects">
    <h2>Current Projects</h2>
    <ProjectCard projectName="Quickshell" projectLink="https://quickshell.outfoxxed.me"/>
  </div>
</MainLayout>
