---
import MainLayout from "@layouts/MainLayout.astro";
import ProjectCard from "@components/cards/ProjectCard.astro";
import SkillCard from "@components/cards/SkillCard.astro";
import Hero from "@components/sections/hero/Hero.astro"
import "@styles/pages/main.css";

---
<MainLayout title="Oleksandr Marnov" description="Web Developer & Designer">
  <Hero/>
  <h2>Projects</h2>
  <div class="main-projects">
    <ProjectCard projectName="Quickshell" projectLink="https://quickshell.org"/>
    <ProjectCard projectName="HeavyLift" projectLink="https://github.com/Xanazf/heavylift"/>
    <ProjectCard projectName="Bongopunk" projectLink="https://github.com/Xanazf/bongopunk"/>
    <!-- <ProjectCard projectName="NDA" projectLink=""/> -->
  </div>
  <h2>Skills</h2>
  <SkillCard/>
</MainLayout>
