header.header {
  height: max-content;
  display: flex;
  width: max-content;
  margin: auto;
}

header.header .left-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 65rem) {
  header.header {
    width: 100%;
  }
}
