---
import { Icon } from "astro-icon/components";
---
<div class="contacts">
  <ul>
    <li class="github">
      <a href="https://github.com/Xanazf" target="_blank"><Icon name="github"/></a>
    </li>
    <li class="linkedin">
      <a href="https://linkedin.com/in/nautylus" target="_blank"><Icon name="linkedin"/></a>
    </li>
    <li class="google">
      <a href="mailto:hotdamnsucka@gmail.com"><Icon name="google"/></a>
    </li>
    <li class="codepen">
      <a href="https://codepen.io/Xanazf" target="_blank"><Icon name="codepen"/></a>
    </li>

  </ul>

</div>
