@layer utilities {
  :where(.static) { position: static; }
  :where(.relative) { position: relative; }
  :where(.absolute) { position: absolute; }
  :where(.fixed) { position: fixed; }
  :where(.sticky) { position: sticky; }

  :where(.fixed-overlay) {
    position: fixed;
    inset: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
  }

  :where(.top-0) { top: 0; }
}
