:root {
  font-family: 'Rubik', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.272;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  min-height: 100svh;
  max-width: 100%;
  width: 100%;

  color-scheme: light dark;
  background-color: #0f1729;
  color: hsl(175, 90%, 92%);

  --dark-hue: 222;
  --light-hue: 175;

  --primary-hue: 183;
  --accent-hue: 270;
  --info-hue: 240;

  --dark-neutral: var(--dark-hue) 46% 11%;
  --light-neutral: var(--light-hue) 100% 90%;

  --success-hue: 120;
  --warning-hue: 63;
  --danger-hue: 360;

  --primary-sl: 100% 50%;
  --secondary-sl: 50% 60%;
  --neon-sl: 93.06% 66.08%;

  --neon-lime: 123 var(--neon-sl);
  --neon-limelight: 153 var(--neon-sl);
  --neon-cyan: var(--primary-hue) var(--neon-sl);
  --neon-blue: 213 var(--neon-sl);
  --neon-deepblue: 243 var(--neon-sl);

  --primary: var(--primary-hue) var(--primary-sl);
  --secondary: var(--primary-hue) var(--secondary-sl);

  --accent-primary: var(--accent-hue) var(--primary-sl);
  --accent-secondary: var(--accent-hue) var(--secondary-sl);

  --info-primary: var(--info-hue) 100% 63%;
  --info-secondary: var(--info-hue) 100% 70%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100svh;
  width: 100%;
  max-width: 100svw;
}

@keyframes RotateHue {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

#svg_bg {
  z-index: -1;
  position: absolute;
  inset: 0;
  padding: 0;
  margin: 0;
  animation: RotateHue 30s linear infinite;
  overflow: hidden;
}

#svg_bg svg {
  padding: 0;
  margin: 0;
  stroke: hsl(var(--primary-hue), 100%, 50%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.AppInner {
  /* display: inline-block; */
  position: relative;
  height: max-content;
  /* overflow: hidden; */
  max-width: 100svw;
  width: 100%;
  padding-block: 1.5em;
  padding-inline: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
li > code {
  background: hsl(var(--dark-neutral));
  padding: 3px;
  border-radius: 3px;
}

blockquote {
  scale: 0.8;
}
div,
section,
main {
  position: relative;
  width: 100%;
  height: auto;
}

header {
  position: sticky;
  height: 3em;
  top: 0;
  display: flex;
  justify-content: end;
  z-index: 10;
}

footer {
  position: relative;
  width: 100%;
  min-height: 3em;
  z-index: 10;
}

.light {
  color: #0f1729;
  background-color: hsl(175, 90%, 92%);
}

@media (prefers-color-scheme: light) {
  :root.light {
    color: #0f1729;
    background-color: #d8f0fd;
  }
}

@keyframes NavCollapse {
  from {
    height: 500px;
  }
  to {
    height: 50px;
  }
}

@keyframes NavExpand {
  from {
    height: 50px;
  }
  to {
    height: 500px;
  }
}

@media only screen and (min-width: 45em) {
  blockquote {
    width: max-content;
  }
  .AppInner {
    max-width: 100lvw;
    padding: 0;
    margin-block: 1.5em;
    padding-inline: 3em;
    overflow-x: hidden;
  }
  @keyframes NavCollapse {
    from {
      width: 500px;
    }
    to {
      width: 50px;
    }
  }

  @keyframes NavExpand {
    from {
      width: 50px;
    }
    to {
      width: 500px;
    }
  }
}
