.experience_card_wrap {
  width: 100%;
  height: min-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  gap: 0.218em;
  padding: 0.369em;
  border-radius: 0.3em;
  background: hsl(var(--dark-hue) 50 15);
}

.experience_summary {
  align-content: baseline;
}

.heading {
  text-wrap: balance;
  font-weight: 600;
}

.subheading {
  font-weight: 400;
  color: hsl(var(--light-hue) var(--secondary-sl) / 0.5);
  font-size: 0.885em;
  line-height: 1.272;
  letter-spacing: -0.007em;
}

.caption {
  font-weight: 400;
  font-size: 0.786em;
  line-height: 1.272;
  letter-spacing: -0.007em;
}

.overline {
  font-weight: 700;
  font-size: 0.618em;
  color: hsl(var(--light-hue) var(--secondary-sl) / 0.5);
  line-height: 1.272;
  letter-spacing: 0.08em;
}

.maintext {
  padding: 0;
  margin: 0;
  max-height: 10em;
  font-family: inherit;
  text-wrap: balance;
  align-content: start;
  font-size: 1em;
  line-height: 1.272;
  letter-spacing: -0.07em;
  overflow-y: scroll;
  overflow-x: hidden;
}

:global(.light) {
  & .experience_card_wrap {
    background: hsl(var(--light-hue) 75 50 / 0.6);
  }
  & .overline {
    color: hsl(var(--dark-hue) var(--secondary-sl) / 0.5);
  }
  & .subheading {
    color: hsl(var(--dark-hue) var(--secondary-sl) / 0.5);
  }
}

@media only screen and (min-width: 45em) {
  .experience_card_wrap {
    grid-template-columns: 20em;
    grid-template-rows: 1fr 1fr;
  }
}
